body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
    background-image: url(bg3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

/*les cardres des tonaliter */
#selection-jeu {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px; 
    margin: auto;
}

    #selection-jeu h1 {
        width: 100%;
        margin-bottom: 20px; 
    }

.btn {
    padding: 20px 40px; 
    font-size: 20px;
    margin: 10px; 
    width: calc(50% - 20px);
    box-sizing: border-box;
    
}
.tonalite {
    display: block;
    margin: 3px; 
    transition: transform 0.1s ease;
    padding: 5px;
    border-radius: 5px;
    font-size:30px;
}
    .tonalite:hover {
        transform: translateY(-10px);
        border: 3px solid #ffd800;
    }

    .tonalite img {
       height: 90px;
        width: 80px;
    }

.toper {
    background: linear-gradient(45deg, #49c545, #0000e4);
    color: #ffffff;
}

.majeur {
    background: linear-gradient(45deg,#e66465, #9198e5);
    color: #5d4037;

}

.mineur {
    background: linear-gradient(45deg,#8dd1cb, #d1cb8d);
    color: #03396c;
}

.table {
    backdrop-filter: blur(10px);
    display: flex;
    overflow-x: auto;
}

.column { /*si on enlever cette partie on aura plus de scoll barre*/
    flex: 0 0 auto;
    margin: 10px;
    text-align: center;
}

/*style des jeux */

#jeu1, #jeu2, #jeu3 {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 3px black, -1em 0 .4em gray;
    max-width: 650px;
}

.btn-reponse,.submitReponse{
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    display: inline-block;
    min-width: 100px;
    max-width: 80%;
    width: auto;
}

    .btn-reponse:hover {
        background-color: #0056b3;
    }

    #jeu1 button {
        background-color: #007bff;
    }

    #jeu1 button:hover {
            background-color: #0056b3;
    }

    #jeu2 button {
        background-color: #09b300;
    }

    #jeu2 button:hover {
            background-color: #1b8201;
    }
    #jeu3 button {
    background-color: #f7ce2a;
    }

    #jeu3 button:hover {
        background-color: #c4a010;
    }


#jeu1_question, #jeu2_question, #jeu3_question {
    font-weight: bold;
    font-size: 18px;
}


.score, .chronometre {
    font-size: 1.5em;
    color: #007bff;
    margin: 10px 0;
}

.feedback {
    font-size: 18px;
    margin-top: 5px;
    color: #d9534f;
    font-weight: bold;
}
