* {
    font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Andalus, sans-serif;
    color: black;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f4fa;
    color: #333;
    text-align: center;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}
.titredeJeu {
    margin-bottom: 50px;
}
.titredeJeu h2{
    font-weight: bold;
}
.titredeJeu p {
    color: #6e6d7a;
}

/*les cardres des tonaliter */
#selection-jeu {
    display: flex;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    margin-bottom: 50px;
}


#selection-jeu .jeu {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

#selection-jeu .jeu img {
    width: 100px;
}

#selection-jeu .jeu:hover {
    background-color: #0000002e;
    transition: 0.3s ;
}



.tonalite {
    display: block;
    margin: 3px;
    transition: transform 0.1s ease;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}


.tonalite img {
    width: 60px;
}

.toper {
    color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.majeur {
    color: black;

}


.mineur {
    color: black;
}

.table {
    backdrop-filter: blur(10px);
    display: flex;
    overflow-x: auto;
}

.column {
    /*si on enlever cette partie on aura plus de scoll barre*/
    flex: 0 0 auto;
    text-align: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.column:hover {
    background-color: #ececec;
}

.titre {
    margin: 50px 0 25px;
}

.titre h2 {
    font-weight: bold;
}

/*style des jeux */

.jeux {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 650px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.jeux button {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    display: inline-block;
    min-width: 100px;
    max-width: 80%;
    width: auto;
}
.jeux button:not(.retourMenuJeu) {
    background-color: #007bff;

}

.retourMenuJeu {
    background-color: #2b2b2b;
}


input[type=text] {
    width: 80%;
    height: 35px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 15px 0;
}

.titre-style {
    font-weight: bold;
    font-size: 18px;
}


.score,
.chronometre {
    font-size: 1.5em;
    color: #007bff;
    margin: 10px 0;
    font-weight: bold;

}

.feedback {
    font-size: 18px;
    margin-top: 5px;
    color: #d9534f;
    font-weight: bold;
}

